header {
    background-color:rgb(72, 0, 228);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  a{
    color: #fff;
  }